@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css);

.centre{
  margin-left: auto;
  margin-right: auto;
  display: block
}

.table th {
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .table .empty-cell {
    font-style: italic;
    color: darkgray;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .sort-icon:after {
    float: right;
    color: hsl(20, 0%, 70%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .sort-icon.sort-ascending:after  { content: '\f0de'; }
  .sort-icon.sort-descending:after { content: '\f0dd'; }
  .sort-icon.sort-none:after  { content: '\f0dc'; }


  .chart {
    width: 100%;
    min-height: 400px;
  }
  
  @media screen and (max-width: 767px) {
    .navbar-link:after {
        border: 1px solid #00d1b2;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.5em;
        pointer-events: none;
        position: absolute;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 0.5em;
        margin-top: -0.375em;
        right: 1.125em;
        top: 50%;
    }
  }

  .clock {
    font-size: 4em;
  }

  .card {
    height: 100%;
  }


  /*-- Tooltip --*/
.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  opacity: 0.9;
}
.c3-tooltip tr {
  border: 1px solid #000;
}
.c3-tooltip th {
  background-color: #000;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #fff;
}
.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}
.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.c3-tooltip td.value {
  text-align: right;
}
